body{
    background-color:#E9E9E9;
}
h1{
  left:70px;
  position:relative;
  font-family:sans,Gloria Hallelujah,Noticia Text,Serid;
}
li{
  list-style-type:none;
  margin:15px ;
  left:0px;
  color:white;
  position:relative;
  
}
.done-false{
 background:#415E9B;
  transition: background .5s;
}
.done-false:hover{
    background:#4191F8;
}
.done-true{
  transition: background .5s;
  text-decoration:line-through;
  color:gray;
  background-color:#E9E9E9;
}
.done-true:hover{

  background:white;
}
span{
  display:column;
    margin:0px;
    padding:5px;
    word-break: break-all;

  border-radius:5px;
}
.div_form{
  left:60px;
  position:relative;
}
.div_remain{
    left:15px;
    position:relative;
}
.div_remain> span:hover{
   text-decoration:underline;
}
input{
  border-radius:10px;
  padding:10px;
}
button{
  transition: background,color 0.3s;
  background:none;
  border:none;
  border-radius:5px;
  padding:10px;
  font-size:120%;
}
button:hover{
  
  background:#4191F8;
  color:white;
}
